<% if  flash.keys.present? %>
  <% 
    if flash[:notice].present?
      alert_class = :success
      alert_message = flash[:notice]
    elsif flash[:alert].present?
      alert_class = :danger
      alert_message = flash[:alert]
    end
  %>
  <div class="alert alert-<%= alert_class %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
      <%= alert_message %>
  </div>
<%end%>